{% block content %}
    <h1>Lista de Reparações</h1>
    <table>
        <thead>
            <tr>
                <th>ID Restauro</th>
                <th>Data Entrada</th>
                <th>Mão de Obra</th>
                <th>Matrícula</th>
            </tr>
        </thead>
        <tbody>
            {% for reparacao in reparacoes %}
            <tr>
                <td>{{ reparacao.id_restauro }}</td>
                <td>{{ reparacao.data_entrada }}</td>
                <td>{{ reparacao.mao_de_obra_nome }}</td>
                <td>{{ reparacao.matricula }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
