{% extends "menu.html" %}

{% block title %}Detalhes da Fatura{% endblock %}

{% block content %}
<div class="clientes-detalhes-container">
    <h2>Detalhes da Fatura</h2>
    <table class="table table-bordered">
        <tr>
            <th>Número da Fatura:</th>
            <td>aa</td>
        </tr>
        <tr>
            <th>Data de Emissão:</th>
            <td></td>
        </tr>
        <tr>
            <th>Valor Total:</th>
            <td></td>
        </tr>
        <tr>
            <th>Status de Pagamento:</th>
            <td></td>
        </tr>
    </table>
    <a href="{% url 'lista_faturas' %}" class="btn btn-secondary">Voltar à Lista</a>
</div>
{% endblock %}
