{% extends "menu.html" %}

{% block title %}Detalhes da Restauração{% endblock %}

{% block content %}
<div class="detalhes-reparacao-container">
    <h2>Detalhes da Restauração {{ id_restauro }}</h2>

    {% if error %}
        <p>{{ error }}</p>
    {% else %}
        <p><strong>ID Restauro:</strong> {{ id_restauro }}</p>
        <p><strong>Matrícula:</strong> {{ matricula }}</p>
        <p><strong>Data de Entrada:</strong> {{ data_entrada }}</p>
        <p><strong>Valor do Restauro:</strong> {{ valor_restauro }}</p>
        <h3>Tarefas:</h3>
        <ul>
            {% if tarefas %}
                {% for tarefa in tarefas %}
                    <li>{{ tarefa }}</li>
                {% endfor %}
            {% else %}
                <p>Sem tarefas de mão de obra</p>
            {% endif %}
        </ul>
        <!-- Botão para voltar à lista de restaurações -->
        <a href="{% url 'listar_reparacoes' %}" class="btn btn-secondary">Voltar à Lista</a>
    {% endif %}
</div>
{% endblock %}
