{% extends "menu.html" %}

{% block title %}Restaurações - Minha Aplicação{% endblock %}

{% block content %}
<div class="clientes-table-container">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>Lista de Restaurações</h2>
        <a href="{% url 'app_bd2:admin_criar_restauro' %}" class="btn btn-success ml-auto">
            <i class="fas fa-plus"></i> Criar Reparação
        </a>

    </div>
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}

    <input type="text" id="searchInput" class="form-control mb-3" placeholder="Pesquisar por matrícula ou data de entrada">

    <table class="table reparacoes-table reparacoes-table-bordered mt-3" id="reparacoesTable">
        <thead>
            <tr>
                <th>ID Restauro</th>
                <th>Matrícula</th>
                <th>Data de Entrada</th>
                <th>Mão de Obra</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for reparacao in reparacoes %}
            <tr>
                <td>{{ reparacao.id_restauro }}</td>
                <td>{{ reparacao.matricula }}</td>
                <td>{{ reparacao.data_entrada }}</td>
                <td>
                    {% if reparacao.tarefas %}
                    <ul class="list-unstyled">
                        {% for tarefa in reparacao.tarefas %}
                        <li>
                            {% if tarefa.estado == 'Completa' %}
                            <i class="fas fa-check-circle text-success"></i>
                        {% else %}
                            <i class="fas fa-times-circle text-danger"></i>
                        {% endif %}
                            {{ tarefa.nome }} 
                        </li>
                        {% empty %}
                        <li>Nenhuma tarefa encontrada.</li>
                        {% endfor %}
                    </ul>
                    {% else %}
                        <p>Sem tarefas de mão de obra</p>
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'app_bd2:ver_reparacao' reparacao.id_restauro %}" class="btn btn-primary">Ver Dados</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="5" class="text-center">Nenhuma restauração encontrada.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% block extra_scripts %}
<script>
    // Função para ordenar a tabela
    function sortTable(n) {
        var table = document.getElementById("reparacoesTable");
        var rows, switching, i, x, y, shouldSwitch, dir, switchCount = 0;
        var switchIcon = document.getElementById(`sortIcon${n}`);
        dir = switchIcon.getAttribute("data-dir") === "asc" ? "desc" : "asc";
        switching = true;
        
        // Remover a classe de direção anterior
        document.querySelectorAll('th i').forEach(icon => icon.classList.remove('fa-sort-up', 'fa-sort-down'));

        // Definir o ícone de ordenação atual
        switchIcon.classList.add(dir === "asc" ? 'fa-sort-up' : 'fa-sort-down');
        switchIcon.setAttribute("data-dir", dir);

        while (switching) {
            switching = false;
            rows = table.rows;
            
            for (i = 1; i < (rows.length - 1); i++) {
                shouldSwitch = false;
                x = rows[i].getElementsByTagName("TD")[n];
                y = rows[i + 1].getElementsByTagName("TD")[n];
                
                if (dir === "asc") {
                    if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                } else {
                    if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                        shouldSwitch = true;
                        break;
                    }
                }
            }
            
            if (shouldSwitch) {
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;
                switchCount++;
            }
        }
    }

    // Função para filtrar a tabela
    document.getElementById("searchInput").addEventListener("input", function() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("searchInput");
        filter = input.value.toLowerCase();
        table = document.getElementById("reparacoesTable");
        tr = table.getElementsByTagName("tr");
        
        for (i = 1; i < tr.length; i++) {
            tr[i].style.display = "none";
            td = tr[i].getElementsByTagName("td");
            
            for (var j = 0; j < td.length; j++) {
                if (td[j]) {
                    txtValue = td[j].textContent || td[j].innerText;
                    if (txtValue.toLowerCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                        break;
                    }
                }
            }
        }
    });
</script>
{% endblock %}
{% endblock %}
