{% extends "menu.html" %}

{% block title %}Editar Mão de Obra - Minha Aplicação{% endblock %}

{% block content %}
<div class="clientes-table-container">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="mb-0">Editar Mão de Obra</h2>
        <a href="{% url 'app_bd2:lista_MaoDeObra' %}" class="btn btn-danger">
            <i class="fas fa-arrow-left"></i> Voltar à Lista
        </a>
    </div>

    <div class="card">
        <div class="card-header">
            Preencha os detalhes abaixo
        </div>
        <div class="card-body">
            <form method="post" action="{% url 'app_bd2:editar_mao_de_obra' mao_de_obra.id_mao_de_obra %}">
                {% csrf_token %}
                <div class="form-group mt-3">
                    <label for="nome">Nome da Mão de Obra</label>
                    <input type="text" name="nome" id="nome" class="form-control" value="{{ mao_de_obra.nome }}" required>
                </div>
                <div class="form-group mt-3">
                    <label for="valor">Valor</label>
                    <input type="number" name="valor" id="valor" class="form-control" value="{{ mao_de_obra.valor }}" step="0.01" required>
                </div>
                <div class="form-group">
                    <label for="usuario_id">Nome e Especialidade</label>
                    <select name="usuario_id" id="usuario_id" class="form-control" required>
                        {% for usuario in usuarios %}
                            <option value="{{ usuario.0 }}" {% if usuario.0 == mao_de_obra.usuario_id %}selected{% endif %}>
                                Nome: {{ usuario.1 }} - Especialidade: {{ usuario.2 }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-primary mt-4">Salvar Alterações</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
